@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container {
  font-size: 1.2rem !important;
  border: 0px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #333 !important;
}
.ql-snow {
  border: 0px !important;
}

.ql-toolbar {
  border-bottom: 1px solid #e5e7eb !important;
}
