@import 'tiptap.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans KR', sans-serif;
    color: #030712;
  }
}

@font-face {
  font-family: 'Pilseung_Gothic';
  src: url('fonts/Pilseung_Gothic.otf');
}

#tiptap-board::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}
